
@media screen and (max-width: 471px) {

    .navbar h1 {
        font-size: 1.2em;
    }

    .navbar img {
        height: 40px;
        width: 40px;
    }

    .header-text h2 {
        font-size: 0.9em !important;
    }

    .header-social-media {
        justify-content: center !important;
    }

    .logo-wrapper {
        justify-content: center !important;
    }

}

@media screen and (max-width: 768px) {

    .header-text h2 {
        font-size: 1.2rem;
    }

    .header-text {
        width: 80% !important;
    }

}