@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

:root {
    --font: 'Poppins', sans-serif;
    --yellow: #FCC33D;
    --darkblue: #00313D;
    --darkblue-t: rgba(0, 33, 41, 0.3);
    --lightblue: #9DCBD3;

}

h1 {
    font-family: var(--font);
    font-weight: 900;
    color: #FCC33D;
}

h2 {
    font-family: var(--font);
    font-weight: 900;
}

p {
    font-family: var(--font);
    font-weight: 400;
}

.header-image {
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.video-overlay {
    position: absolute;
    height: 100vh;
    background-color: var(--darkblue-t);
    overflow: hidden;
}

.my-video {
    min-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    overflow: hidden;
}

.header-text {
    width: 65%;
    text-align: justify;
    color: var(--darkblue);
}

.header-text span {
    font-weight: 900;
    color: var(--yellow);
    font-size: 1.2em;
}